body {
  margin: 0;
  box-sizing: border-box;
  background-color: #1C1C1C;
  display: grid;
  place-items: center;
  font-family: Inter, sans-serif;
  height: 100vh;
}

.app {
  width: 550px;
  height: 550px;
  background-color:#1F2937;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-family: Karla, sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2.5%;
  margin: 115px 0px 10px 52px;
}

span {
  color: #4ADF86;  
}

p {
  margin:  0 0 51px 52px;
  color: #D5D4D8;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}

button {
  background-color: #10B981;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 17px 9px 15px;
  border-radius: 5px;
  width: 200px;
  margin: 0 0 35px 52px;
  cursor: pointer;
 }

 .output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  margin: 0;
  width: 211px;
  height: 39px;
  border-radius: 5px;
  background-color: #273549;
  color: #4ADF86;
  
}

.flex-container {
  margin-left: 52px;
  width: 446px;
  border-top: solid 1px #2F3E53;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;

}